@font-face {
    font-family: 'alcubierreregular';
    src: url('../fonts/Alcubierre/Alcubierre.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gravity';
    src:url('../fonts/gravity/Gravity-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}