@font-face {
    font-family: 'alcubierreregular';
    src: 
    // url('fonts/Alcubierre/webfontkit-alcub/alcubierre-webfont.woff2') format('woff2'),
         url('fonts/Alcubierre.otf') format('opentype');
        //  url('fonts/Alcubierre/webfontkit-alcub/alcubierre-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gravity';
    src:url('fonts/gravity/Gravity-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}