#header{
    background: url('https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
    background-repeat: no-repeat;
    background-size: cover;

    .sr-div{
        font-size: 8rem;
    }
}
@media(min-width:1200px) {
    .sr-div{
        font-size: 4rem;
    }
}
@media(min-width:450px) {
    .sr-div{
        font-size: 2rem;
    }
}