header.masthead {
  //padding-top: calc(6rem + 72px);
  padding-top: calc(300px + 2rem);
  padding-bottom: 5rem;
  height: 100vh;

  h1 {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
  }
  h2 {
    font-size: 2rem;
    @include body-font;
    display: inline;
    position: relative;
    top: -2px;
  }
  img{
    height: 400px;
  }
  @media (min-width: 992px) {
    header.masthead {
      height: 50vh;
    }
  }
  
    @media (min-width: 300px) and (max-width: 780px) {
      img{
        height: 50vh;
      }   
  }
}
