header.masthead {
  //padding-top: calc(6rem + 72px);
  padding-top: calc(300px + 2rem);
  padding-bottom: 5rem;
  height: 100vh;

  h1 {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
  }
  #header-text{
    display: inline-block;
  }
  h2 {
    font-size: 2rem;
    @include body-font;
    display: inline;
    position: relative;
    top: -2px;
  }
  img{
    height: 400px;
  }
  @media (min-width: 992px) {
      //height: 50vh;
  }
  //Any device in landscape mode
  @media screen  
    and (max-height: 800px) 
    and (orientation: landscape){
      padding-top: 150px;
  }

  //Ipad Pro Tablets in Landscape
  @media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {
    padding-top: 350px;
}
  @media (min-width: 300px) and (max-width: 780px) and (orientation: portrait) {
    padding-top: 40vh;
    img{
      height: 50vh;
    }   
  }
}
