// Styling for the navbar
#mainNav {
  padding-top: 0rem;
  padding-bottom: 0rem;
  @include body-font;
  font-family: $font-lato, 'Calibri', $font-coves; //, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $white-smoke;
  border-bottom: 1.5px solid rgba(0,0,0,0.15);
  .navbar-brand {
    color: $black;
  }
  img{
    width: 100px;
    margin: 5px 20px 0 20px;
  }
  #logo-shrink{
    width: 65px;
  }
  .hidden{
    display: none;
  }
  //mobile view menu
  .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
    margin: 0 auto;
    li.nav-item {
      a.nav-link {
        color: $black;
        
        &:hover {
          color: $gray-200;
        }
        &:active,
        &:focus {
          color:$black;
        }
        &.active {
          color: $rocket-red;
        }
      }
    }
  }
  .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
  }
}
//desktop view + high rez tablet
@media(min-width:992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    background-color: rgba(0,0,0,0.0);
    border-bottom: 1.5px solid rgba(0,0,0,0);
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: font-size 0.3s;
      -moz-transition: font-size 0.3s;
      transition: font-size 0.3s;
    }
    .navbar-nav {
      margin-top: 0;
      li.nav-item {
        a.nav-link {
        color:white;
        }
      }
    }
  }
  //desktop view when menu turns white
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: $white;
    border-bottom: 1.5px solid rgba(0,0,0,0.15);
    .navbar-brand {
      font-size: 1rem;
      width: 25%;
    }
    .navbar-nav {
      li.nav-item {
        a.nav-link {
        color:black;
        }
      }
    }
    a.nav-link {
      color: black ;
      &:hover {
        color: #d33939 !important;
      }
      &:active,
      &:focus {
        color: black !important;
      }
      &.active {
        color: #d33939 !important;
      }
    }
  }
}
