// Styling for the navbar, default
#mainNav {
  padding-top: 0rem;
  padding-bottom: 0rem;
  @include body-font;
  font-family: 'Calibri', $font-coves; //, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: $white-smoke;
  border-bottom: 1.5px solid rgba(0,0,0,0.15);
  .navbar-brand {
    color: $black;
  }
  img{
    width: 120px;
    margin: 5px 20px 0 20px;
  }
  #logo-shrink{
    width: 75px;
  }
  .hidden{
    display: none;
  }
  .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
    margin: 0 auto;
    li.nav-item {
      a.nav-link {
        color:black;
        
        &:hover {
          color: black;
        }
        &:active,
        &:focus {
          color:$black;
        }
        &.active {
          color: #d33939;
        }
      }
    }
  }
  .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
  }
}
//For non-mobile windows
@media(min-width:992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    background-color: rgba(0,0,0,0.0);
    border-bottom: 1.5px solid rgba(0,0,0,0);
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: font-size 0.3s;
      -moz-transition: font-size 0.3s;
      transition: font-size 0.3s;
    }
    .navbar-nav {
      margin-top: 0;
      color: $white;
      li.nav-item {
        a.nav-link {
         // color:white;
        }
      }
    }
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: white;
      font-size: 1rem;
        &:active,
       &:focus,
       &:hover{
        color: white;
       }
       &:hover{
        //background-color: #e98484
       }
    }
  }
  //Nav-bar changes when browser window scrolls past header
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: $white;
    border-bottom: 1.5px solid rgba(0,0,0,0.15);
    .navbar-brand {
      font-size: 1rem;
      width: 25%;
    }
    a.nav-link {
      &:hover {
        color: #d33939 !important;
      }
      &:active,
      &:focus {
        color: black;
      }
      &.active {
        // background-color: #d33939;
        color: #d33939 !important;

      }
    }
  }
}
