// Styling for the navbar
#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include body-font;
  background-color: $white-smoke;
  border-bottom: 1.5px solid rgba(0,0,0,0.15);
  .navbar-brand {
    color: $black;
  }
  img{
    width: 120px;
    margin: 5px 20px 0 20px;
  }
  #logo-shrink{
    width: 100px;
  }
  .hidden{
    display: none;
  }
  .navbar-nav {
    margin-top: 1rem;
    letter-spacing: 0.0625rem;
    margin: 0 auto;
    li.nav-item {
      a.nav-link {
        color:black;
        
        &:hover {
          color: black;
          // background-color: #d3d3d3;
        }
        &:active,
        &:focus {
          color:$black;
        }
        &.active {
          color: #d33939;
        }
      }
    }
  }
  .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
  }
}
@media(min-width:992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    background-color: rgba(0,0,0,0.0);
    border-bottom: 1.5px solid rgba(0,0,0,0);
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: font-size 0.3s;
      -moz-transition: font-size 0.3s;
      transition: font-size 0.3s;
    }
    .navbar-nav {
      margin-top: 0;
      color: $white;
      li.nav-item {
        a.nav-link {
          color:white;
        }
      }
    }
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: black;
      font-size: 1rem;
      //  background: rgba(0,0,0,0.3);
        &:active,
       &:focus,
       &:hover{
        color: black;
        //  background: rgba(0,0,0,0.5);
       }
    }
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: $white;
    border-bottom: 1.5px solid rgba(0,0,0,0.15);
    .navbar-brand {
      font-size: 1rem;
      color: $white;
      width: 25%;
    }
    a.nav-link {
      color: $black !important;
      &:hover {
        color: black;
      }
      &:active,
      &:focus {
        color: black;
      }
      &.active {
        color: #d33939 !important;
      }
    }
  }
}
