// Styling for the portfolio section
.portfolio {
  margin-bottom: -15px;
  margin-top: -60px;
    @media (min-width: 576px) {
      margin-bottom: -30px;
      .portfolio-item {
        margin-bottom: 30px;
      }

      .row:nth-child(2){
        margin-top: 10px;
      }
  }
  .img-fluid{
    border-radius: 50%;
    margin-top: 10px;
    width: 250px;
    height: auto;
  }
    @media (min-width: 980px){
      .img-fluid{
        width: 340px;
      }
    }
  
  p{
    font-family: $secondary-font;
    font-size: 18px;
    margin-top: 15px;
  }
  h2{
    font-family: $secondary-font;
  }

  .container{
    padding-right: 20px;
    padding-left: 20px;
  }

}